#1 - Import the data
#2 - Clean the data
#3 - Split data. Training Set/Test Set
#4 - Create a Model
#5 - Check the output
#6 - Improve

In [22]:
import pandas as pd
data_frame = pd.read_csv('players.csv')
data_frame

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,33,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
1,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,31,1987-06-24,170,72,Argentina,FC Barcelona,...,63+2,61+2,61+2,61+2,63+2,58+2,47+2,47+2,47+2,58+2
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,26,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,65+3,60+3,60+3,60+3,65+3,60+3,47+3,47+3,47+3,60+3
3,193080,https://sofifa.com/player/193080/david-de-gea-...,De Gea,David De Gea Quintana,27,1990-11-07,193,76,Spain,Manchester United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,192985,https://sofifa.com/player/192985/kevin-de-bruy...,K. De Bruyne,Kevin De Bruyne,27,1991-06-28,181,70,Belgium,Manchester City,...,77+3,77+3,77+3,77+3,77+3,73+3,66+3,66+3,66+3,73+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17765,238985,https://sofifa.com/player/238985/pierce-philli...,P. Phillips,Pierce Phillips,19,1998-09-28,180,72,Republic of Ireland,Cork City,...,46+2,48+2,48+2,48+2,46+2,46+2,48+2,48+2,48+2,46+2
17766,240160,https://sofifa.com/player/240160/alexander-kal...,A. Kaltner,Alexander Kaltner,18,1999-10-24,178,75,Germany,SpVgg Unterhaching,...,38+2,34+2,34+2,34+2,38+2,36+2,32+2,32+2,32+2,36+2
17767,241304,https://sofifa.com/player/241304/junliang-ma/1...,Ma Junliang,马俊亮,20,1998-03-02,181,64,China PR,Guangzhou R&F FC,...,49+2,46+2,46+2,46+2,49+2,49+2,46+2,46+2,46+2,49+2
17768,240158,https://sofifa.com/player/240158/christoph-ehl...,C. Ehlich,Christoph Ehlich,19,1999-02-02,179,73,Germany,SpVgg Unterhaching,...,46+2,41+2,41+2,41+2,46+2,45+2,44+2,44+2,44+2,45+2
17769,243961,https://sofifa.com/player/243961/evan-tweed/19...,E. Tweed,Evan Tweed,19,1999-03-01,180,72,Republic of Ireland,Derry City,...,45+2,46+2,46+2,46+2,45+2,46+2,46+2,46+2,46+2,46+2

In [23]:
data_frame.shape

(17770, 104)

In [16]:
data_frame.describe()

,sofifa_id,age,height_cm,weight_kg,overall,potential,value_eur,wage_eur,international_reputation,weak_foot,...,passing,dribbling,defending,physic,gk_diving,gk_handling,gk_kicking,gk_reflexes,gk_speed,gk_positioning
count,17770.000000,17770.000000,17770.000000,17770.000000,17770.000000,17770.000000,1.777000e+04,17770.000000,17770.000000,17770.000000,...,15784.000000,15784.000000,15784.000000,15784.000000,1986.000000,1986.000000,1986.000000,1986.000000,1986.000000,1986.000000
mean,213797.776308,25.193922,181.253292,75.310917,66.240405,71.382949,2.440756e+06,9956.162071,1.117783,2.946427,...,57.082172,62.267169,51.665484,64.972567,65.374622,62.931017,61.511078,66.149043,38.675730,63.088117
std,29955.746535,4.651957,6.745892,7.080013,6.994104,6.145171,5.644779e+06,22330.640048,0.401085,0.659353,...,10.589207,10.442659,16.347564,9.745859,7.807033,7.556389,7.667533,8.234898,10.420846,8.664458
min,164.000000,16.000000,154.000000,50.000000,47.000000,48.000000,0.000000e+00,0.000000,1.000000,1.000000,...,24.000000,23.000000,15.000000,30.000000,45.000000,43.000000,35.000000,44.000000,12.000000,38.000000
25%,199803.000000,21.000000,176.000000,70.000000,62.000000,67.000000,3.000000e+05,1000.000000,1.000000,3.000000,...,50.000000,57.000000,37.000000,59.000000,60.000000,58.000000,56.000000,60.000000,30.000000,57.000000
50%,221350.500000,25.000000,181.000000,75.000000,66.000000,71.000000,6.750000e+05,3000.000000,1.000000,3.000000,...,58.000000,64.000000,56.000000,66.000000,65.000000,63.000000,61.000000,66.000000,40.000000,63.000000
75%,235967.750000,28.000000,186.000000,80.000000,71.000000,75.000000,2.000000e+06,9000.000000,1.000000,3.000000,...,64.000000,69.000000,65.000000,72.000000,71.000000,68.000000,66.000000,72.000000,46.000000,69.000000
max,246063.000000,45.000000,205.000000,110.000000,94.000000,95.000000,1.185000e+08,565000.000000,5.000000,5.000000,...,92.000000,96.000000,91.000000,89.000000,91.000000,92.000000,91.000000,94.000000,65.000000,90.000000

In [17]:
data_frame.values

array([[20801,
        'https://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/19/159222',
        'Cristiano Ronaldo', ..., '53+3', '53+3', '61+3'],
       [158023,
        'https://sofifa.com/player/158023/lionel-messi/19/159222',
        'L. Messi', ..., '47+2', '47+2', '58+2'],
       [190871,
        'https://sofifa.com/player/190871/neymar-da-silva-santos-jr/19/159222',
        'Neymar Jr', ..., '47+3', '47+3', '60+3'],
       ...,
       [241304, 'https://sofifa.com/player/241304/junliang-ma/19/159222',
        'Ma Junliang', ..., '46+2', '46+2', '49+2'],
       [240158,
        'https://sofifa.com/player/240158/christoph-ehlich/19/159222',
        'C. Ehlich', ..., '44+2', '44+2', '45+2'],
       [243961, 'https://sofifa.com/player/243961/evan-tweed/19/159222',
        'E. Tweed', ..., '46+2', '46+2', '46+2']], dtype=object)

In [15]:
data_frame[data_frame['age']>40].head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
1109,156092,https://sofifa.com/player/156092/justo-villar/...,J. Villar,Justo Wilmar Villar Viveros,41,1977-06-30,180,85,Paraguay,Paraguay,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3560,3665,https://sofifa.com/player/3665/benjamin-nivet/...,B. Nivet,Benjamin Nivet,41,1977-01-02,178,75,France,ESTAC Troyes,...,58+2,64+2,64+2,64+2,58+2,57+2,57+2,57+2,57+2,57+2
4331,140029,https://sofifa.com/player/140029/oscar-perez/1...,O. Pérez,Óscar Pérez Rojas,45,1973-02-01,172,75,Mexico,Pachuca,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7090,142998,https://sofifa.com/player/142998/cristian-muno...,C. Muñoz,Cristian Fernando Muñoz Hoffman,41,1977-07-01,177,73,Argentina,CD Universidad de Concepción,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10351,140183,https://sofifa.com/player/140183/seigo-narazak...,S. Narazaki,楢﨑 正剛,42,1976-04-15,187,80,Japan,Nagoya Grampus,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df1 = pd.DataFrame(data_frame, columns=['short_name', 'wage_eur', 'value_eur'])
df1['difference'] = df1['value_eur'] - df1['wage_eur']
df1.sort_values('difference', ascending=False)

         short_name  wage_eur  value_eur  difference
2         Neymar Jr    290000  118500000   118210000
1          L. Messi    565000  110500000   109935000
4      K. De Bruyne    355000  102000000   101645000
8         E. Hazard    340000   93000000    92660000
15        P. Dybala    205000   89000000    88795000
...             ...       ...        ...         ...
11646       W. Díaz      1000          0       -1000
12591  H. Sulaimani      3000          0       -3000
3563    S. Nakamura      4000          0       -4000
3560       B. Nivet      5000          0       -5000
849          Hilton     18000          0      -18000

[17770 rows x 4 columns]